/*------ Styles Généraux ------*/
body {
  font-family: var(--Karla);
}
p {
  font-family: var(--Karla);
}

* {
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
}

.active {
  background: var(--bs-primary);
  border-radius: 5px;
}

/*------ Section Hero ------*/

h1 {
  font-size: 37px;
}

#hero {
  margin-top: 100px;
}

#texte {
  margin-top: 200px;
}

.titre {
  background: none;
  font-size: 65px;
  font-weight: bolder;
  font-style: italic;
}

mark.vert {
  color: var(--bs-primary);
  font-weight: bold;
  background: none;
}

.btn-primary {
  margin-bottom: 100px;
  height: 55px;
  width: 300px;
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
  color: var(--bs-dark);
  font-weight: 600;
  border-radius: 13px;
}

.btn-primary:active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-dark);
}

#cadre {
  aspect-ratio: 5/9;
}

iframe {
  border-style: inset;
  border-width: 5px;
  border-color: var(--bs-primary);
  border-radius: 25px;
  /*
  box-shadow: 0 0 100px rgb(255, 255, 255);
  */
}

#titrefonct {
  color: var(--bs-dark);
}

#section-feature {
  padding-top: 80px;
  margin-top: 200px;
}

.textexpli {
  font-size: 13px;
  margin-bottom: 70px;
}

i {
  font-size: 40px;
  margin-bottom: 30px;
}

#iconcard {
  position: absolute;
  font-size: 20px;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 576px) {
  #carte {
    height: 50vh;
  }
  #cartetem {
    height: 45vh;
  }
  #iconcard {
    top: 23vh;
  }
}
@media screen and (min-width: 576px) {
  #carte {
    height: 50vh;
  }
  #cartetem {
    height: 50vh;
  }
  #iconcard {
    top: 23vh;
  }
}

@media screen and (min-width: 768px) {
  #carte {
    height: 50vh;
  }
  #cartetem {
    height: 50vh;
  }
  #iconcard {
    top: 23vh;
  }
  #colinfo {
    margin-left: 50%;
  }
}

@media screen and (min-width: 992px) {
  #carte {
    height: 50vh;
  }
  #cartetem {
    height: 53vh;
  }
  #iconcard {
    top: 23vh;
  }
}

#section-testimonials {
  padding-top: 40px;
  margin-top: 100px;
}
#photogeorge {
  height: 20vh;
  object-position: 0% 50%;
}

#photoprofil {
  height: 20vh;
  object-position: 0% 25%;
}

.faqtitre {
  margin-bottom: 50px;
}

#faq {
  padding-top: 90px;
  padding-bottom: 200px;
}
/*
html
  > body
  > main
  > .bg-white
  > #faq
  > #faq-acordeon
  > .accordion-item
  > .accordion-header:hover {
  border: solid 5px var(--bs-secondary);
}
*/

#faq-acordeon > .accordion-item > .accordion-header:hover {
  border: solid 5px var(--bs-secondary);
}
/*
#infolettre {
  margin-top: 100px;
  margin-bottom: 100px;
}
*/
#colinfo {
  padding: 30px;
  background-color: rgb(255, 255, 255, 0.8);
}
#infocontainer {
  padding-top: 40px;
  padding-bottom: 40px;
}
#infolettre {
  background-image: url("/assets/image_background_1.jpg");
  background-size: cover;
  background-position: 50%;
}
#bouttoninfo {
  margin-top: 30px;
}

#emailbox {
  height: 45px;
}

.bi-envelope {
  margin-top: 35px;
}
.email {
  width: 300px;
}

#modalwindow {
  position: center;
}

#boutoninscrire {
  background-color: var(--bs-primary);
}
