/*------ Styles Généraux ------*/
body {
  background-color: var(--noir);
  font-family: var(--Karla);
}
p {
  font-family: var(--Karla);
}

.navbar {
  background-color: var(--blanc);
}

footer {
  width: 100%;
  background-color: var(--lime);
}

.active {
  background-color: var(--lime);
  border-radius: 5px;
}

/*------ Section Hero ------*/

h1 {
  font-size: 37px;
}

#hero {
  margin-top: 350px;
}

.titre {
  background: none;
  font-size: 65px;
  font-weight: bolder;
  font-style: italic;
  color: var(--lime);
}

mark.vert {
  color: var(--lime);
  font-weight: bold;
  background: none;
}

.btn-primary {
  height: 40px;
  background-color: var(--vertpastel);
  border-color: var(--vertpastel);
  color: var(--noir);
  font-weight: 600;
  border-radius: 13px;
}

.btn-primary:hover {
  background-color: var(--lime);
  border-color: var(--lime);
  color: var(--noir);
}

#cadre {
  aspect-ratio: 5/9;
}
