/*------ Styles Généraux ------*/
* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--noir);
}


.logo, .profil {
    height: 25px;
}

/*------ Section Hero ------*/
